<%= render 'items/header' %>
<h2>果樹園紹介</h2>

<div class="intro">
<%= image_tag 'image_company_small.png' %>
<p>当園は蔵王の山々が見渡せる山形県上山市に位置しております
    <br>四季の変化がはっきりとしているため、果物の栽培に適した地域です。
    <br>さくらんぼ・西洋梨(ラ・フランス)・干し柿を主に販売しており、現在シャインマスカットも育成中です。
    <br>シーズン中は直売も行っておりますので、是非お越し下さい。
</p>
</div>

<div class="access">
<h3>アクセス<h3>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3138.4738544977504!2d140.2880583148207!3d38.129173299464114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f8a4d65f47ed8ab%3A0xd9685480f4474ae8!2z44CSOTk5LTMyMDEg5bGx5b2i55yM5LiK5bGx5biC5a6u6ISH77yR77yQ77yS77yW!5e0!3m2!1sja!2sjp!4v1579766554584!5m2!1sja!2sjp" width="650" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</div>
<p>東北自動車道　かみのやま温泉ICより車で約6分
    <br>山形新幹線　かみのやま温泉駅より車で約10分
</p>
<%= render 'items/footer' %>