<%= render 'items/header' %>
<div class="heading", style="background-image:url(<%= asset_path "heading_carriage.png" %>)">
    <h2 class="heading_title">お支払い・配送</h2>
</div>
<div class="info">
    <div class="transfer">
        <h2 class="info_h2">お支払い方法</h2>
        <p>お支払い方法は後払いです。<br>商品到着後に振込用紙を送付致しますので、郵便局にてお支払い下さい</p>
    </div>
    <div class="carriage">
        <h2 class="info_h2">配送について</h2>
        <p>配送業者はヤマト運輸です。<br>商品１点ごとに下記の送料となります。</p>
        <div class="info_carriage">
            <%= image_tag 'map.png', class: "map" %>
        </div>
    </div>
</div>
<%= render 'items/footer' %>