<%= render 'items/header' %>
<h2>注文を確定しました<br />
またのご利用お待ちしております</h2>

<p>ご登録頂いたアドレス宛にご注文完了のお知らせを送信いたしました。<br />
しばらく経ってもメールが届かない場合、お問い合わせページからご連絡をお願い致します。</p>

<%= link_to '商品一覧へ戻る', '/items' %>
<%= render 'items/footer' %>
