/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
     font-family: serif;
     color: #494545;
     line-height: 40px;
     text-align: center;
 }

img{
    max-width: 100%;
}

.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 5%;
}

#app{
    display: flex;
}

.item{
    display: inline-block;
    width: 50%;
    margin: 40px 0;
    text-align: center;
}

.item_description{
    width: 70%;
    margin: 20px auto;
}

.image_small{
    width: 90%;
    height: auto;
}

h3{
    font-size: 24px;
    font-weight: normal;
}

h4{
    font-size: 20px;
    font-weight: normal;
}

.description{
    margin: 40px 100px;
}

.item_name{
    width: 360px;
    margin: 30px auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #919191;
}

.item_second_name{
    display: inline;
}

.item_price{
    display: inline;
    padding: 0 20px;
}

.field_quantity{
    display: flex;
    justify-content: center;
}

.number_area{
    font-size: 20px;
    width: 40px;
    height: 28px;
    margin: 20px;
}

.order_quantity{
    font-size: 22px;
    color: #F48780;
    margin-right: 10px;
}

.number_field{
    height: 24px;
    width: 60px;
    border-color: #919191;
    border-style: solid;
}

.add_cart{
    vertical-align: middle;
}

.add_cart > p{
    display: inline-block;
    vertical-align: middle;
}

h2{
    font-family: Verdana, sans-serif;
    font-size: 36px;
    color: #c4c4c4;
    text-align: center;
    /* margin: 100px 0; */
}


ul{
    text-align: center;
}

li{
    display: inline-block;
    font-size: 20px;
    padding: 4px;
    vertical-align: middle;
    list-style: none;      
}

.menu_text{
    text-decoration: none;
    color: #494545;
    font-size: 16px;
    padding: 0 10px 0 20px;
    border-left: 1px solid #c4c4c4;
}

li > span{
    border-right: 1px solid #c4c4c4;
    padding-right: 10px;
}

.footer{
    background-color: #c4c4c4;
    height: 220px;
    padding-top: 40px;
    margin-top: 100px;
    text-align: center;
}

.footer > p {
    color: #ffffff;
    font-size: 12px;
    margin-top: 40px; 
}

.footer_menu_text{
    text-decoration: none;
    color: #ffffff;
    padding: 0 10px 0 10px;
}

.footer_ul {
    display: inline-block;
    padding: 0;
    font-size: 20px;
    list-style: none;  
}

.logo_footer{
    padding-right: 20px;
}

.footer_li {
    display: inline-block;
}

.total_price > p {
    display: inline-block;
    font-size: 30px;
    color: black;
}

.total_price{
    width: 60%;
    margin: 100px auto 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}


.total_item > p , .total_postage > p{
    display: inline-block;
    font-size: 24px;
    color: black;
    padding-left: 10px;
}

.total_item, .total_postage{
    width: 60%;
    margin: 0 auto;
    text-align: right;
    height: 40px;
}

.btn_order{
    text-align: center;
    margin-top: 100px;
}


.top_image{
    width: 100%;
    height: auto;
}

.image_top{
    position: relative;
    margin-bottom: 100px;
}

.arrow_under{
    position: absolute;
    left: 47%;
    bottom: 5%;
}

.image_middle{
    width: 70%;
    height: 80%;
    margin: 140px auto;
}

.intro{
    margin-bottom: 200px;
}

.map{
    margin-top: 80px;
}

.mail{
    text-decoration: none;
    color: #919191;
}

.empty_cart{
    margin: 0 auto 100px auto;
}

.action{
    margin: 10px 0;
}

.info_carriage{
    text-align: left;
    margin-left: 20%; 
}

.info_carriage > span {
    font-weight: bold;
    color: #557ADB;
}

.btn_add_cart, .btn_delete_item, .btn_item_index{
    width: 130px;
    height: 30px;
    background: #55BBDB;
    border-color: #55BBDB;
    border-radius: 40px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}

.btn_add_cart:hover, .btn_delete_item:hover, .btn_item_index:hover{
    color: #55BBDB;
    background-color: #ffffff;
}

.btn_change_quantity, .btn_items_index, .btn_go_confirm, .btn_complete, .btn_sign_in, .btn_sign_up, .btn_user_update{
    width: 130px;
    height: 30px;
    background: #F48780;
    border-color: #F48780;
    border-radius: 40px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}

.btn_change_quantity:hover, .btn_items_index:hover, .btn_go_confirm:hover, .btn_complete:hover, .btn_sign_in:hover, .btn_sign_up:hover, .btn_user_update:hover{
    color: #F48780;
    background-color: #ffffff;
}

.btn_edit_user, .btn_return_cart, .btn_new_sign_up, .btn_log_in{
    text-decoration: none;
    padding: 10px;
    background: #55BBDB;
    border-color: #55BBDB;
    border-radius: 40px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}

.btn_user_delete{
    text-decoration: none;
    height: 30px;
    width: 100px;
    background: #557ADB;
    border-color: #557ADB;
    border-radius: 40px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}

.forgot_password, .btn_user_update{
    margin: 10px auto;
}

.btn_forgot_password{
    text-decoration: none;
    color: #557ADB;
}

.btn_complete{
    margin: 80px auto 60px auto;
}

.btn_sign_up{
    margin-top: 10px;
}

.btn_sign_in, .log_in{
    margin: 10px auto;
}

.confirm_user{
    color: #000000;
}

.user_info{
    color: #000000;
    margin-top: 80px;
}

.user_info > p > span{
    font-weight: bold;
}

.button_favorite{
    width: 140px;
    height: 30px;
    background: none;
    border-color: #F1F380;
    border-radius: 40px;
    color: #919191;
    font-weight: bold;
    font-size: 15px;
}

.favorite{
    width: 140px;
    height: 30px;
    background: #F1F380;
    border-color: #F1F380;
    border-radius: 40px;
    color: #919191;
    font-weight: bold;
    font-size: 15px;
}

.heading{
    height: 150px;
    margin-bottom: 100px;
}

.heading_title{
    line-height: 150px;
    color: #ffffff;
    font-weight: lighter;
    font-family: sans-serif;
    text-shadow: 1px 2px 2px #919191;
}
