/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
     font-family: sans-serif;
     color: #919191;
     text-align: center;
 }

.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 5%;
}

.item{
    display: inline-block;
    width: 50%;
    margin: 40px 0;
    text-align: center;
}

.image_small{
    width: 90%;
    height: auto;
}

h3{
    font-size: 24px;
    font-weight: normal;
}

h4{
    font-size: 20px;
    font-weight: normal;
}

.item_title{
    width: 360px;
    margin: 30px auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #919191;
}

.item_price{
    display: inline;
    padding: 0 20px;
}

.quantity{
    font-size: 24px;
    color: #F48780;
}

.number_area{
    font-size: 20px;
    width: 40px;
    height: 28px;
    margin: 20px;
}

.add_cart{
    vertical-align: middle;
}

.add_cart > p{
    display: inline-block;
    vertical-align: middle;
}

h2{
    font-family: Verdana, sans-serif;
    font-size: 36px;
    color: #c4c4c4;
    text-align: center;
    margin: 100px 0;
}


ul{
    text-align: center;
}

li{
    display: inline-block;
    font-size: 20px;
    padding: 4px;
    vertical-align: middle;
    list-style: none;      
}

.menu_text{
    text-decoration: none;
    color: #000000;
    padding: 0 10px 0 20px;
    border-left: 1px solid #c4c4c4;
}

li > span{
    border-right: 1px solid #c4c4c4;
    padding-right: 10px;
}

.footer{
    background-color: #c4c4c4;
    height: 220px;
    padding-top: 40px;
    margin-top: 100px;
    text-align: center;
}

.footer > p {
    color: #ffffff;
    font-size: 12px;
    margin-top: 40px; 
}

.footer_menu_text{
    text-decoration: none;
    color: #ffffff;
    padding: 0 10px 0 10px;
}

.footer_ul {
    display: inline-block;
    padding: 0;
    font-size: 20px;
    list-style: none;  
}

.logo_footer{
    padding-right: 20px;
}

.footer_li {
    display: inline-block;
}

.total_price > p {
    display: inline-block;
    font-size: 30px;
    color: black;
}

.total_price{
    width: 60%;
    margin: 100px auto 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}


.total_item > p , .total_postage > p{
    display: inline-block;
    font-size: 24px;
    color: black;
    padding-left: 10px;
}

.total_item, .total_postage{
    width: 60%;
    margin: 0 auto;
    text-align: right;
    height: 40px;
}

.btn_order{
    text-align: center;
    margin-top: 100px;
}

.top_image{
    width: 100%;
    height: auto;
}

.image_top{
    position: relative;
}

.arrow_under{
    position: absolute;
    left: 47%;
    bottom: 5%;
}

.image_middle{
    margin: 140px 0 70px 0;
}